page {
/* 	--theme-color: #fbb5ff;
	font-size: 30rpx; */
	background-color: #efefef;
}
.color-pink {
	color: #fb7aae;
}
.color-fff {
	color: #ffffff;
}

.bgcolor-pink{
	background-color: #fb7aae;
}

.content {
	padding: 20rpx;
}

.border-10 {
	border-bottom-left-radius: 10rpx;
	border-bottom-right-radius: 10rpx;
	border-top-left-radius: 10rpx;
	border-top-right-radius: 10rpx;
}
.border-30 {
	border-radius: 30rpx;
}

.border-50 {
	border-radius: 50rpx;
}

.width-100{
	width: 100vw;
}

.height-100{
	height: 100vh;
}

.wh-20 {
	width: 20rpx;
	height: 20rpx;
}
.wh-30 {
	width: 30rpx;
	height: 30rpx;
}
.wh-40 {
	width: 40rpx;
	height: 40rpx;
}

.wh-50 {
	width: 50rpx;
	height: 50rpx;
}
.wh-70 {
	width: 70rpx;
	height: 70rpx;
}

.wh-80 {
	width: 80rpx;
	height: 80rpx;
}

.wh-100 {
	width: 100rpx;
	height: 100rpx;
}

.wh-120 {
	width: 120rpx;
	height: 120rpx;
}

.font-20 {
	font-size: 20rpx;
}
.font-26 {
	font-size: 26rpx;
}
.font-28 {
	font-size: 28rpx; 
}

.font-30 {
	font-size: 30rpx;
}
.font-36 {
	font-size: 36rpx;
}
.font-40 {
	font-size: 40rpx;
}
.font-46 {
	font-size: 46rpx;
}

.font-50 {
	font-size: 50rpx;
}

.font-weight {
	font-weight: 600;
}

.color-gray {
	color: gray;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-around {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flex-start{
	display: flex;
	justify-content: start;
	align-items: center;
}
/* 垂直两端对齐 */
.flex-column-between {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* 垂直居中 */
.flex-column-center{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pd-lr-20 {
	padding: 0 20rpx;
}
.pdlr-20{
	padding: 20rpx;
}

.ml-10{
	margin-left: 10rpx;
}
.ml-20{
	margin-left: 20rpx;
}
.ml-30{
	margin-left: 30rpx;
}
.mt-10{
	margin-top: 10rpx;
}
.mt-20{
	margin-top: 20rpx;
}
.mt-30{
	margin-top: 30rpx;
}
.mt-50{
	margin-top: 50rpx;
}
.avatar{
	
	width: 150rpx;
	height: 150rpx;
}
.border-radius-50{
	border-radius: 50rpx;
}

.background-color-fff{
	background-color: #ffffff;
}
.background-color-pink{
	background-color: pink;
}

.position-relative{
	position: relative
}

.position-absolute{
	position: absolute
}